.footer {
  background-color: #777;

  .sponsors {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    a {
      display: flex;
      align-items: center;
      filter: grayscale(100%);
      transition: filter 0.2s ease-in-out;

      .logo {
        width: 6rem;
        height: auto;
      }

      &:hover {
        filter: unset;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem 0;
    color: white;

    .copyrightLogo {
      height: 3rem;
      width: auto;
    }
  }
}
