$textShadow: 2px 2px 20px rgba(0, 0, 0, 0.7);

.disciplineContainer {
  position: relative;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  cursor: pointer;

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
  }

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    text-shadow: $textShadow;
    opacity: 0;
    transition: all .2s ease-in-out;
  }

  &:hover {
    .image {
      filter: brightness(.37) grayscale(1) blur(2px);
      transform: scale(1.03);
    }

    .name {
      opacity: 1;
      font-size: 2rem;
    }
  }
}