$textShadow: 2px 2px 20px rgba(0, 0, 0, 0.7);

.disciplineContainer {
  position: relative;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  cursor: pointer;

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
  }

  .nameContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: backdrop-filter .2s ease-in-out;

    .name {
      text-transform: uppercase;
      color: white;
      font-size: 2.7rem;
      font-weight: 600;
      text-shadow: $textShadow;
      opacity: 0;
      transition: all .2s ease-in-out;
    }
  }

  &:hover {
    .image {
      scale: 1.1;
    }

    .nameContainer {
      backdrop-filter: brightness(.8) blur(33px);

      .name {
        opacity: 1;
        font-size: 2.5rem;
      }
    }
  }
}

.dialogTitle {
  display: flex;
  align-items: center;
}

.contentImage {
  object-fit: cover;
}

.taekwondoContent {
  p:nth-of-type(5), p:nth-of-type(7) {
    text-align: center;
  }

  .kihap, .concentration {
    position: relative;
    width: 17rem;
    aspect-ratio: 3 / 2;
    overflow: hidden;
  }

  .kihap {
    float: right;
    margin-left: 1rem;
  }

  .concentration {
    float: left;
    margin-right: 1rem;
  }

  .jongshin {
    position: relative;
    width: 80%;
    aspect-ratio: 2 / 3;
    margin: 0 auto;
    overflow: hidden;
  }
}

.poomsaeContent {
  .video {
    border: none;
    width: 100%;
    border-radius: 4px;
  }

  .yopchagi, .yopchagi2 {
    position: relative;
    width: 17rem;
    aspect-ratio: 3 / 2;
    overflow: hidden;
  }

  .yopchagi {
    float: left;
    margin-right: 1rem;
  }

  .yopchagi2 {
    float: right;
    margin-left: 1rem;
  }
}