$cardSize: 20rem;
$avatarSize: $cardSize - 4rem;
$imageOffset: 3rem;

.coaches {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .coach {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: $cardSize;
    overflow: visible;
    margin-top: $imageOffset;

    .avatar {
      position: relative;
      background-color: grey;
      margin: -$imageOffset auto 0;
      width: $avatarSize;
      height: $avatarSize;

      .image {
        object-fit: cover;
      }
    }

    .button {
      margin-top: auto;
      margin-left: .5rem;
      margin-bottom: .5rem;
    }
  }
}
