@use 'styles/variables.module';

$cardSize: 20rem;
$avatarSize: $cardSize - 4rem;
$imageOffset: 3rem;
$dialogAvatarSize: 4.5rem;

.coaches {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .coach {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: $cardSize;
    overflow: visible;
    margin-top: $imageOffset + 1rem;

    .avatar {
      position: relative;
      background-color: grey;
      margin: -$imageOffset auto 0;
      width: $avatarSize;
      height: $avatarSize;
      overflow: hidden;

      .image {
        object-fit: cover;
      }
    }

    .name {
      margin: 1.2rem 0 0;
      font-size: 1.3rem;
      font-weight: 600;
    }

    .subtitle {
      margin-bottom: 1rem;
    }

    .button {
      margin: auto .5rem .5rem;
    }
  }
}

.dialogTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-y: unset!important;
  padding: 1rem;

  .dialogAvatar {
    display: inline-block;
    position: relative;
    background-color: grey;
    width: $dialogAvatarSize;
    height: $dialogAvatarSize;
    border-radius: 50%;
    overflow: hidden;

    .dialogImage {
      object-fit: cover;
    }
  }

  .dialogName {
    font-size: 1.3rem;
    font-weight: 600;
  }

  @media (max-width: map-get(variables.$breakpoints, 'sm')) {
    .dialogAvatar {
      width: $dialogAvatarSize - 1rem;
      height: $dialogAvatarSize - 1rem;
    }

    .dialogName {
      font-size: 1rem;
    }
  }
}

