@use '/styles/variables.module';

.heading {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
}

.accentLine {
  height: .25rem;
  width: 5rem;
  margin: 0 auto 2.5rem;
  background-color: variables.$sejongRed;
  border-radius: .25rem;
}

@media (max-width: map-get(variables.$breakpoints, 'md')) {
  .heading {
    font-size: 3rem;
  }
}