@use 'styles/variables.module';
@use 'styles/mixins.module';

.background {
  position: relative;
  filter: brightness(.2);
  height: 100vh;

  .image {
    object-fit: cover;
  }
}

.heroLogo {
  position: absolute;
  top: 0;
  z-index: 1;
  background: url("../../public/logos/whiteLogo.svg") no-repeat center;
  background-size: 50%;
  height: 100vh;
  width: 100vw;

  @include mixins.fade-in;

  @media (width <= 900px) {
    background-size: 80%;
  }

  @media (width <= 700px) {
    background: url("../../public/logos/sejongLogoMobile.svg") no-repeat center;
    background-size: 50%;
  }
}
