.slider {
  height: 600px;

  .slide {
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    backdrop-filter: brightness(50%);

    .backdropFilter {
      height: 100%;
      backdrop-filter: brightness(50%);

      .slideTextContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        h1 {
          text-transform: uppercase;
          text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
          font-size: 45px;
          font-weight: 800;
        }

        p {
          text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
          font-size: 19px;
        }
      }
    }
  }
}



