$textShadow: 2px 2px 20px rgba(0, 0, 0, 0.7);

.introduction {
  padding-bottom: 0;

  .slider {
    height: 600px;

    .slide {
      height: 100%;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      backdrop-filter: brightness(50%);

      .backdropFilter {
        height: 100%;
        backdrop-filter: brightness(50%);

        .slideTextContainer {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: white;

          h2 {
            text-transform: uppercase;
            text-shadow: $textShadow;
            font-size: 3rem;
            font-weight: 800;
            margin: 1rem 0 3rem
          }

          p {
            text-shadow: $textShadow;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}




