@use '../../styles/variables.module';

.newsPanel {
  margin-top: .5rem;
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
  overflow: hidden;
}

@media (width >= map-get(variables.$breakpoints, 'sm')) {
  .newsPanel {
    grid-template: 1fr 1fr/ 1fr 1fr;
  }
}

@media (width >= map-get(variables.$breakpoints, 'md')) {
  .newsPanel {
    grid-template: 1fr / repeat(4, 1fr);
  }
}
