@use '/styles/variables.module';

.priceList {

  h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  table {
    width: auto;

    tbody, th, tr, td {
      border: none;
      padding: 0;
    }

    td {
      padding-right: 1rem;
    }
  }



  span {
    font-weight: 600;
  }
}
