@use '/styles/variables.module';

.priceList {
  background-color: variables.$gray;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  table {
    width: auto;
  }

  span {
    font-weight: 600;
  }
}