@use 'styles/variables';

.history {
  background-color: variables.$gray;
}

.timeline {
  display: flex;
  padding: 0;
  list-style-type: none;

  .event {
    padding-top: 1.1rem;
    padding-right: 1.1rem;
    border-top: .4rem solid variables.$sejongRed;
    position: relative;

    &:last-child {
      border-color: rgba(0, 0, 0, 0);
    }

    .point {
      content: "";
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      border: .4rem solid variables.$sejongRed;
      background-color: variables.$gray;
      border-radius: 50%;
      top: -1rem;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}