@use 'styles/variables';

.history {
  background-color: variables.$gray;
}

.timeline {
  display: flex;
  padding: 0;
  list-style-type: none;

  .event {
    padding-top: 1.1rem;
    border-top: 5px solid #DA0A16;
    position: relative;

    .point {
      content: "";
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      border: 5px solid #DA0A16;
      background-color: #f0f0f0;
      border-radius: 50%;
      top: -16px;
    }

    ul {
      list-style-type: none;
    }
  }
}