@use 'variables.module';

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 4.2rem;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .site {
    flex-grow: 1;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}


strong, b {
  font-weight: 600!important;
}

a {
  color: variables.$sejongRed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

[class*="MuiSvgIcon"] {
  vertical-align: middle;
}

#about-us .swiper-pagination {
  .swiper-pagination-bullet {
    background-color: white;
  }

  .swiper-pagination-bullet-active {
    background-color: white;
  }
}

#references .swiper {
  padding-bottom: 5rem;

  .swiper-wrapper {
    align-items: flex-end;
  }

  .swiper-slide {
    opacity: .5;
  }

  .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
    opacity: 1;
  }

  @media (max-width: map-get(variables.$breakpoints, 'lg')) {
    .swiper-slide-next, .swiper-slide-prev {
      opacity: .5;
    }
  }
}
