$sejongRed: #DA0A16;
$gray: #f0f0f0;
$breakpoints: ('xs': 0px,'sm': 600px, 'md': 900px, 'lg': 1180px, 'xl': 1536px);

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Number without a unit
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

:export {
  sejongRed: $sejongRed;
  xs: strip-unit(map-get($breakpoints, 'xs'));
  sm: strip-unit(map-get($breakpoints, 'sm'));
  md: strip-unit(map-get($breakpoints, 'md'));
  lg: strip-unit(map-get($breakpoints, 'lg'));
  xl: strip-unit(map-get($breakpoints, 'xl'));
}
